<!DOCTYPE HTML>

<html>
	<head>
		<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
		<script src='/javascripts/index.js'></script>
		<script src='/javascripts/eventform.js'></script>
		<script src='models/concerts.js'></script>
		<script src='routes/concertRoutes.js'></script>
		<script src='app.js'></script>
		<title>Concert Tracker</title>
	</head>

	<body>
		<h3>Jenny's Concert Tracker</h3>