<!DOCTYPE HTML>

<html>
	<head>
		<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
		<script src='../javascripts/index.js'></script>
		<script src='../models/concerts.js'></script>
		<script src='../routes/concertRoutes.js'></script>
		<title><%= title %></title>
	</head>

	<body>
		<h3>Jenny's Concert Tracker</h3>

		<form id='viewall'>
			<button>View All Events</button>
		</form>

		<form id='addnew'>
			<button>Add New Event</button>
		</form>

		<hr>

		<h3>Upcoming Concerts</h3>

		<br>

		<h3>Upcoming Festivals</h3>

	</body>
</html>

